/* Stylesheet for GrandPy App */

body
{
    background-color: #8DD0EE;
    color: #615F4E;
    min-height: 100vh;
}

header
{
    text-align: center;
    background-color: #59727E;
    color: #E0D57A;
}

section
{
    text-align: center;
}

#dialog
{ 
    margin-top: 5px;
}

#askForm
{
    margin-top: 10px;
}

.content
{
    padding: 10px;
}

.flex-grow 
{
    flex: 1;
}
 
#logo
{
    width: 100px;
    height: auto;
}

footer
{
    background-color: #59727E;
    color: #E0D57A;   
}

.btn-default
{
    color: #E0D57A;
}

.btn-primary
{
    background-color: #59727E;
    color: #E0D57A;
}

.user-dialog 
{
    color: black;
    font-weight: bold;
    background-color: white;
    opacity: 0.80;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.grandpy-dialog
{  
    color: black;
    background-color: white;
    opacity: 0.5;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.map
{
    height: 400px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

