<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Le site de GrandPy">
        <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png')}}">
        <title>GrandPy Bot</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    </head>

    <body class="d-flex flex-column">
        
        <header class="container-fluid">
            <div class="row">
                <div class="col-xs-12  offset-md-2 col-md-8 text-center">
                    <h1>GrandPy Bot</h1>
                    <p>Un papi qui en sait long en géographie !</p>        
                </div>
                <div class="d-none d-sm-block col-md-2">
                    <a href="#" class="float-right"><img id="logo" src="{{url_for('static', filename='img/logo.png')}}" alt="GrandPyLogo"></a>
                </div>
            </div>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
                
        <footer class="mt-4">
            <!-- <div class="container-fluid py-3"> -->
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center">
                    Nicolas Routier
                    <a class="btn btn-default" href="https://www.linkedin.com/in/nicolas-routier-85919b109/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    <a class="btn btn-default" href="https://github.com/nroutier/GrandPyBot"><i id="test" class="fa fa-github fa-2x"></i></a>
                    <!-- <button class ="btn">
                        <a href="https://github.com/nroutier/GrandPyBot">
                            <img src="{{url_for('static', filename='img/github-square-brands.svg')}}">
                        </a>
                    </button> -->                    
                </div>
            </div>
        </footer>
        </div>
        <script src="{{url_for('static', filename='script.js')}}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ static_maps_key }}"></script>
    </body>
</html>