{% extends "base.html" %}

{% block app_content %}
        <section class="container-fluid flex-grow">
            <section id="dialog"></section>

            <section id="askForm">
                <!-- <form method="post">
                    <div class="form-group">
                        <label for="place">Entrez un lieu ou une adresse:</label>
                        <input type="text" class="form-control" name="place" id="place" placeholder="Ex: Openclassrooms ou 7 Cité Paradis, 75010 Paris" required/>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrer</button>
                </form> -->
                <form action="" method="post">
                    <!-- To be protected against CSRF attacks -->
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.query.label }}
                        {{ form.query(id="place", class="form-control", placeholder="Openclassooms ou 7 Cité Paradis, 75010 Paris") }}
                    </div>
                    {{ form.submit(class="btn btn-primary") }}
                </form>
            </section>
        </section>
{% endblock %}