{% extends "base.html" %}

{% block content %}
    <section class="container-fluid flex-grow">
        <section id="dialog"></section>

        <section id="askForm">
            <form id="queryForm" action="" method="post">
                <!-- To be protected against CSRF attacks -->
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.query.label }}
                    {{ form.query(id="place", class="form-control", placeholder="Openclassooms ou 7 Cité Paradis, 75010 Paris") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
            <br />
            <progress id="progress" class="d-none"></progress>
        </section>
    </section>
{% endblock %}